{% extends 'base.html' %}

{% block content %}

    <h1>Competitions List</h1>

    <form action="">
        <a class="btn btn-primary" href="{% url 'new_competition' %}">Crear Competencia</a>
    </form>

    <div class="container py-5">
        {% for competition in competitions %}
            <div class="card card-body bg-dark">
                <div class=" text-light">
                    <h2><a href="{% url 'competition_detail' competition.id %}">{{ competition.name }}</a></h2>
                    <p class="text-right">{{ competition.is_active }}</p>
                </div>
            </div>

        {% endfor %}
    </div>

{% endblock %}
```