{% extends 'base.html' %}
{% block content %}

    {% load static %}

    <head>
        <title>{{ competition.name }} - Competition details</title>

    </head>

    <body>


    <h1 class="mb-5">{{ competition.name }}</h1>

    <div class="container mt-5 mb-4">
        <div class="row">
            <div class="col ">
                <p>Al activar la competencia podrás administrar sus partidos</p>
            </div>
            <div class=" col-md-4 d-flex ">
                <div id="liveAlertPlaceholder" style="position: absolute; top: 25px; right: 25px;"></div>
                <button type="button" style="height: fit-content" class="btn btn-primary ms-auto" id="liveAlertBtn">
                    Activar Competencia
                </button>
            </div>
        </div>
        <hr>
    </div>

    <nav class="nav">
        <a class="nav-link active" aria-current="page" href="{% url 'game_list' %}">Partidos</a>
        <a class="nav-link" href="#">Resultados</a>
        <a class="nav-link" href="#">Temporadas</a>
        <a class="nav-link disabled" aria-disabled="true">Disabled</a>
    </nav>

    <hr>

    <div class="btn-group">
        <button type="button" class="btn btn-light dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            Gestionar Equipos
        </button>
        <ul class="dropdown-menu dropdown-menu-end">
            <li>
                <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">Añadir
                    Equipo</a>
            </li>
            <li>
                <a class="dropdown-item" href="">Importar Equipos</a>
            </li>
            <li>
                <a class="dropdown-item" href="">Exportar Equipos</a>
            </li>
        </ul>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Añadir Equipo</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Busca a los equipos y agrégalos de la lista, <a href="">o crea un nuevo perfil para
                        ellos.</a></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Añadir Equipo</button>
                </div>
            </div>
        </div>
    </div>
    <hr>
    
    <h2>Groups</h2>
    <ul>
        {% for group in groups %}
            <li>{{ group.letter }}</li>
        {% endfor %}
    </ul>
    </body>



    <script src="{% static 'js/script_competetition_detail.js' %}"></script>

{% endblock %}
```