{% extends 'base.html' %}
{% load static %}
{% block content %}

    {{ form.media }}

    <div class="row">
        <div class="col">
            <a class="" href="{% url 'competition_detail' competition.id %}"><img
                    src="{% static 'img/back.png' %}"
                    alt=""></a>
        </div>

        <h1 class="text-center">{{ competition.name }}</h1>
    </div>


    {% if seasons %}
        <div class="container mt-5 mb-4">
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <select class="form-control" style="width: 180px" id="seasonsMenu"
                                aria-label="Default select example"
                                onchange="showSeasonContent()">
                            {% for season in seasons %}
                                <option value="{{ season.id }}">{{ season.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class=" col-md-2 d-flex ">
                    <div>
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#exampleModal">
                            Crear Temporada
                        </button>

                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                             aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Añadir Temporada</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form method="post">
                                            {% csrf_token %}
                                            {{ error }}
                                            {{ form.as_p }}
                                            <button type="submit" class="btn btn-primary">Añadir</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div id="seasonContent"></div>

        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script>
            var seasonContent = $("#seasonContent");

            function showSeasonContent() {
                var selectedSeasonId = $("#seasonsMenu").val();
                var competitionId = {{ competition.id }};

                // Make an AJAX request to the server to get the content of the selected season
                $.ajax({
                    type: "GET",
                    url: "/competitions/" + competitionId + "/seasons/" + selectedSeasonId + "/",
                    success: function (data) {
                        seasonContent.html(data);
                    },
                    error: function (xhr, status, error) {
                        console.log("Error loading the content of the season:", error);
                    }
                });
            }

            // Show the content of the first option when the page is loaded
            $(document).ready(function () {
                showSeasonContent();

                // Update the content of the season when the selection in the menu changes
                $("#seasonsMenu").change(function () {
                    showSeasonContent();
                });
            });
        </script>

    {% else %}
        <div class="alert alert-warning mt-5" role="alert">
            There are no seasons created for this competition.
            <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">Create a New Season</a>
        </div>
    {% endif %}

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Create a New Season</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="post">
                        {% csrf_token %}
                        {{ error }}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary">Create</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
