{% extends 'base.html' %}
{% block content %}

    {% load static %}

    <head>
        <title>{{ competition.name }} - Competition details</title>

    </head>

    <body>


    <h1 class="mb-5">{{ competition.name }}</h1>

    <div class="container mt-5 mb-4">
        <div class="row">
            <div class="col ">
                <p>Al activar la competencia podrás administrar sus partidos</p>
            </div>
            <div class=" col-md-4 d-flex ">
                <div id="liveAlertPlaceholder" style="position: absolute; top: 25px; right: 25px;"></div>
                <button type="button" style="height: fit-content" class="btn btn-primary ms-auto" id="liveAlertBtn">
                    Activar Competencia
                </button>
            </div>
        </div>
        <hr>
    </div>

    <nav class="nav">
        <a class="nav-link active" aria-current="page" href="{% url 'game_list' %}">Partidos</a>
        <a class="nav-link" href="#">Resultados</a>
        <a class="nav-link" href="#">Temporadas</a>
        <a class="nav-link disabled" aria-disabled="true">Disabled</a>
    </nav>

    <hr>

    <div class="btn-group">
        <button type="button" class="btn btn-light dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            Gestionar Equipos
        </button>
        <ul class="dropdown-menu dropdown-menu-end">
            <li>
                <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">Añadir
                    Equipo</a>
            </li>
            <li>
                <a class="dropdown-item" href="">Importar Equipos</a>
            </li>
            <li>
                <a class="dropdown-item" href="">Exportar Equipos</a>
            </li>
        </ul>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Añadir Equipo</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Busca a los equipos y agrégalos de la lista, <a href="{% url 'new_team' competition.id %}">o crea
                        un nuevo perfil para
                        ellos.</a></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Añadir Equipo</button>
                </div>
            </div>
        </div>
    </div>
    <hr>

    <main class="mt-5">
        <h3>Equipos</h3>

        <div class="d-flex justify-content-end">
            <form class="d-none d-sm-inline-block form-inline mr-2 mr-md-3 my-2 my-md-0 mw-100">
                <div class="input-group">
                    <label class="sr-only" for="search">Search:</label>
                    <input type="text" class="form-control bg-light border-0 rounded-pill py-2 px-3" name="search"
                           id="search-table" aria-label="Search" aria-describedby="basic-addon2"
                           onkeyup="searchTableTeam()">
                </div>
            </form>
        </div>

        <table class="table table-hover " id="team_table">
            <thead class="table-light">
            <tr>
                <th scope="col">Escudo</th>
                <th scope="col">Nombre</th>
                <th scope="col">N°jugadores</th>
                <th scope="col">Estado</th>
                <th scope="col">Ciudad</th>
            </tr>
            </thead>
            <tbody class="table-group-divider">
            {% for team in teams %}
                <tr style="cursor: pointer" onclick="window.location='{% url 'teams_detail' team.id %}'">
                    <td>
                        {% if team.image %}
                            <img src="{{ team.image.url }}" width="50px" alt="{{ team.name }}">
                        {% else %}
                            <img src="{% static 'img/team_default.png' %} " width="50px"
                                 alt="{{ team.name }}">
                        {% endif %}
                    </td>
                    <td>{{ team.name }}</td>
                    <td>{{ team.players.count }}</td>
                    <td>{{ team.status }}</td>
                    <td>{{ team.city }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="5">No hay equipos inscritos en la competencia.</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div id="no-results-message" style="display: none; margin-top: 10px;">
            No se encontraron registros coincidentes.
        </div>

    </main>

    <script src="{% static 'js/script_competetition_detail.js' %}"></script>

{% endblock %}
```