{% extends 'base.html' %}
{% block content %}

    {% load static %}

    <head>
        <title>{{ competition.name }} - Competition details</title>
        <style>
            /* Personalización de la tabla */
            .table {
                font-size: 14px;
            }

            .table th,
            .table td {
                vertical-align: middle;
            }

            .table a {
                color: #f53d08;
                text-decoration: none;
            }

            .table a:hover {
                text-decoration: underline;
            }
        </style>

    </head>

    <body>

    <div class="row">
        <div class="col">
            <a class="" href="{% url 'competitions' %}"><img
                    src="{% static 'img/back.png' %}"
                    alt=""></a>
        </div>

        <h1 class="mb-5 text-center "
            style="color: #de4418; font-weight: bold;  font-size: 45px">{{ competition.name }}</h1>
    </div>


    <nav class="nav">
        <a class="nav-link nav-hover-highlight"
           style="font-weight: bold;  font-size: 1.2rem; color: #2d2a2a"
           href="{% url 'competition_seasons' competition.id %}">Temporadas</a>
        <a class="nav-link active nav-hover-highlight" aria-current="page"
           href="{% url 'game_list' %} "
           style="font-weight: bold;  font-size: 1.2rem; color: #2d2a2a">Partidos</a>
        <a class=" nav-link nav-hover-highlight"
           style="font-weight: bold; font-size: 1.2rem; color: #2d2a2a"
           href="#">####</a>
    </nav>
    <hr class="border-3">
    <div class="container mt-5 mb-4">
        <div class="row">
            <div class="col ">
                <p>Al activar la competencia podrás administrar sus partidos</p>
            </div>
            <div class=" col-md-4 d-flex ">
                <div id="liveAlertPlaceholder" style="position: absolute; top: 25px; right: 25px;"></div>
                <button type="button" style="height: fit-content; background-color: #f53d08"
                        class="btn ms-auto text-light" id="liveAlertBtn">
                    {% if competition.is_active %}
                        Desactivar Competencia
                    {% else %}
                        Activar Competencia
                    {% endif %}
                </button>


            </div>
        </div>
    </div>


    <style>
        .nav-hover-highlight:hover {
            background-color: #f53d08; /* Cambia este color al color naranja deseado */
            color: white; /* Cambia el color del texto para que sea legible */
        }
    </style>

    <div class="btn-group ">
        <button type="button" class="btn dropdown-toggle text-light" style="background-color: #f53d08"
                data-bs-toggle="dropdown"
                aria-expanded="false">
            Gestionar Equipos
        </button>
        <ul class="dropdown-menu dropdown-menu-end">
            <li>
                <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">Añadir
                    Equipo</a>
            </li>
            <li>
                <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#testTeamModal">Equipos de
                    prueba</a>
            </li>
        </ul>
    </div>

    <!-- Modal de Añadir Equipos -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Añadir Equipo</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Busca a los equipos y agrégalos de la lista, <a href="{% url 'new_team' competition.id %}">o crea
                        un nuevo perfil para ellos.</a></p>
                    <select class="form-control" id="teamSearchInput">
                        <option value="" selected>Selecciona un equipo</option>
                        {% for team in all_teams %}
                            <option value="{{ team.id }}">{{ team.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="addTeamButton" disabled>Añadir Equipo</button>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal de Equipos de Prueba -->
    <div class="modal fade" id="testTeamModal" tabindex="-1" aria-labelledby="testTeamModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="testTeamModalLabel">Generar Equipos de Prueba</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="testTeamForm">
                        {% csrf_token %}
                        <label for="numTeams">Número de Equipos de Prueba:</label>
                        <input type="number" id="numTeams" name="numTeams" class="form-control" min="1" required>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary" id="generateTestTeams">Generar</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            const generateTestTeamsButton = $('#generateTestTeams');
            const numTeamsInput = $('#numTeams');

            generateTestTeamsButton.click(function () {
                const numTeams = numTeamsInput.val();
                const competitionId = {{ competition.id }};

                $.ajax({
                    type: 'POST',
                    url: `/generate_test_teams/${competitionId}/${numTeams}/`,
                    success: function (data) {
                        location.reload(); // Recargar la página después de generar los equipos de prueba
                    },
                });
            });
        });
    </script>



    <main class="mt-5">
        <h3>Equipos ({{ n_total_teams }})</h3>

        <div class="d-flex justify-content-end mb-3">
            <form class="d-none d-sm-inline-block form-inline mr-2 mr-md-3 my-2 my-md-0 mw-100">
                <div class="input-group align-items-center">
                    <label class="sr-only mx-3" for="search">Search:</label>
                    <input type="text" class="form-control bg-light border-0 rounded-pill py-2 px-3" name="search"
                           id="search-table" aria-label="Search" aria-describedby="basic-addon2"
                           onkeyup="searchTableTeam()">
                </div>
            </form>
        </div>


        <table class="table table-hover table-striped" id="team_table">
            <thead class="table-light">
            <tr>
                <th scope="col">Escudo</th>
                <th scope="col">Nombre</th>
                <th scope="col">N°jugadores</th>
                <th scope="col">Inscripcion</th>
                <th scope="col">Ciudad</th>
                <th scope="col">Pais</th>
            </tr>
            </thead>
            <tbody class="table-group-divider">
            {% for team in teams %}
                <tr data-team-id="{{ team.id }}">
                    <td>
                        {% if team.image %}
                            <img src="{{ team.image.url }}" width="25px" alt="{{ team.name }}">
                        {% else %}
                            <img src="{% static 'img/team_default.png' %} " width="25px"
                                 alt="{{ team.name }}">
                        {% endif %}
                    </td>
                    <td><a href="{% url 'teams_detail' team.id %}">{{ team.name }}</a></td>
                    <td><a href="{% url 'inscription_team' competition.id team.id %}">Añadir Jugadores</a></td>
                    <td>Competencia</td>
                    <td>{{ team.city }}</td>
                    <td>{{ team.country }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="5">No hay equipos inscritos en la competencia.</td>
                </tr>
            {% endfor %}
            {% for team in teams_in_seasons %}
                <tr data-team-id="{{ team.id }}">
                    <td>
                        {% if team.image %}
                            <img src="{{ team.image.url }}" width="25px" alt="{{ team.name }}">
                        {% else %}
                            <img src="{% static 'img/team_default.png' %} " width="25px"
                                 alt="{{ team.name }}">
                        {% endif %}
                    </td>
                    <td><a href="{% url 'teams_detail' team.id %}">{{ team.name }}</a></td>
                    <td><a href="{% url 'inscription_team' competition.id team.id %}">Añadir Jugadores</a></td>
                    <td>{% for season in team.seasons.all %}
                        {{ season.name }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}</td>
                    <td>{{ team.status }}</td>
                    <td>{{ team.city }}</td>
                </tr>

            {% endfor %}
            </tbody>
        </table>

        <div id="no-results-message" style="display: none; margin-top: 10px;">
            No se encontraron registros coincidentes.
        </div>

    </main>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            const teamSearchInput = $('#teamSearchInput');
            const addTeamButton = $('#addTeamButton');

            teamSearchInput.change(function () {
                const selectedTeamId = $(this).val();
                if (selectedTeamId) {
                    addTeamButton.prop('disabled', false);
                } else {
                    addTeamButton.prop('disabled', true);
                }
            });

            addTeamButton.click(function () {
                const selectedTeamId = teamSearchInput.val();
                const competitionId = {{ competition.id }};

                $.ajax({
                    type: 'POST',
                    url: `/add_team_to_competition/${competitionId}/${selectedTeamId}/`,
                    success: function (data) {
                        location.reload(); // Recargar la página después de añadir el equipo
                    },
                    error: function (xhr, status, error) {
                        console.log('Error añadiendo equipo a la competencia:', error);
                    }
                });
            });
        });
    </script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const alertPlaceholder = document.getElementById('liveAlertPlaceholder');

            const appendAlert = (message, type) => {
                const wrapper = document.createElement('div');
                wrapper.innerHTML = [
                    `<div class="alert alert-${type} alert-dismissible fade show" role="alert">`,
                    `   <div>${message}</div>`,
                    '   <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>',
                    '</div>'
                ].join('');

                alertPlaceholder.appendChild(wrapper);

                // Agregamos la clase 'fade-out' después de agregar el mensaje de alerta
                wrapper.firstChild.classList.add('fade-out');

                // Después de 3 segundos, eliminamos la alerta del DOM
                setTimeout(() => {
                    wrapper.remove();
                }, 3000);
            };

            const alertTrigger = document.getElementById('liveAlertBtn');
            if (alertTrigger) {
                alertTrigger.addEventListener('click', () => {
                    const competitionId = "{{ competition.id }}";  // Obtén el ID de la competencia desde tu contexto

                    fetch(`/toggle_competition/${competitionId}/`)
                        .then(response => response.json())
                        .then(data => {
                            appendAlert(data.message, 'success');
                            // Cambiar el texto del botón según el nuevo estado
                            alertTrigger.innerText = data.is_active ? 'Desactivar Competencia' : 'Activar Competencia';
                        })
                        .catch(error => {
                            appendAlert('Error al cambiar el estado de la competencia', 'danger');
                        });
                });
            }
        });
    </script>



{% endblock %}
```