{% extends 'base.html' %}

{% block content %}

    {% load static %}

    <head>
        <title>Game List</title>
        <link rel="stylesheet" href="{% static 'css/css_match.css' %}">
    </head>
    <main>
        <h1>List of matches</h1>

        <form method="get" action="{% url 'game_list' %}">
            <label for="state">Filter by state:</label>
            <select id="state" name="state">
                <option value="">All states</option>
                {% for state_key, state_value in states %}
                    <option value="{{ state_key }}"
                            {% if state_key == selected_state %}selected{% endif %}>{{ state_value }}</option>
                {% endfor %}
            </select>

            <label for="sport">Filter by sport</label>
            <select id="sport" name="sport">
                <option value="">All sports</option>
                {% for sport in sports %}
                    <option value="{{ sport.id }}"
                            {% if sport.id|stringformat:"s" == selected_sport %}selected{% endif %}>{{ sport.name }}</option>
                {% endfor %}
            </select>

            <input type="submit" value="Filtrar">
        </form>

        <div class="row">
            {% for game in games %}
                <div class="col-md-4 p-4 ">
                    <a class="custom-link" href="{% url 'game_detail' game.id %}">
                        <div class="card-body">
                            <div class="card card-game bg-dark text-light">
                                <div class="card-body">
                                    <div class="row align-items-center">
                                        <div class="col-md-8"> <!-- Div de los nombres -->
                                            <p class="name">{{ game.team_local.name }}</p>
                                            <p class="name">{{ game.team_local.name }}</p>
                                        </div>
                                        <div class="col-md-4 text-center"> <!-- Div de la fecha -->
                                            <p class="datetime">{{ game.date }}</p>
                                            <p class="datetime">{{ game.hour }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </main>
{% endblock %}
```