{% extends 'base.html' %}
{% block content %}

    {% load static %}
    {{ form.media }}


    <div class="container">
        <a class="" href="{% url 'match_season' competition.id season.id %}">Ir a lista de partidos</a>

        <div class="card mt-3">
            <div class="card-header">
                Instalaciones y Horarios
            </div>
            <ul class="list-group list-group-flush">
                {% for location in locations %}
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col">
                                {{ location.name }}
                            </div>
                            <div class="col">
                                {% for availability in location.availability_set.all %}
                                    {{ availability.days_available }}<br>
                                    {{ availability.opening_time }} - {{ availability.closing_time }}<br>
                                    {{ availability.date }}<br>
                                {% endfor %}
                            </div>
                            <div class="col">
                                <button type="button" class="btn btn-primary" data-toggle="modal"
                                        data-target="#modal{{ location.id }}">Agregar Disponibilidad
                                </button>
                                <!-- Modal -->
                                <div class="modal fade" id="modal{{ location.id }}" tabindex="-1"
                                     aria-labelledby="modal{{ location.id }}" aria-hidden="true">
                                    <div class="modal-dialog modal-lg modal-dialog-centered">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="modal{{ location.id }}">Añadir
                                                    Disponibilidad</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <form method="post"
                                                      action="{% url 'add_availability' competition.id season.id location.id %}">
                                                    {% csrf_token %}
                                                    <div class=" form-group">
                                                        <label for="{{ form.days_available.id_for_label }}">Días
                                                            Disponibles:</label><br>
                                                        {% for check in form.days_available %}
                                                            <div class="form-check form-check-inline">
                                                                {{ check.tag }}
                                                                <label class="form-check-label"
                                                                       for="{{ check.id_for_label }}">{{ check.choice_label }}</label>
                                                            </div>
                                                        {% endfor %}
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="mt-3">
                                                                <label for="{{ form.opening_time.id_for_label }}">Hora
                                                                    de Apertura:</label>
                                                                {{ form.opening_time }}
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="mt-3">
                                                                <label for="{{ form.closing_time.id_for_label }}">Hora
                                                                    de Cierre:</label>
                                                                {{ form.closing_time }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="mt-3">
                                                        <label for="{{ form.date.id_for_label }}">Fecha:</label>
                                                        {{ form.date }}
                                                    </div>
                                                    <button type="submit" class="btn btn-primary mt-3">Guardar</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

{% endblock %}
