{% extends 'base.html' %}

{% block content %}

    {% load static %}

    <head>
        <title>{{ competition.name }} - Competition details</title>
    </head>

    <body>
    <div class="container mt-5">
        <h1 class="text-center mb-5">Welcome!</h1>

        <!-- Mostrar información general sobre los deportes ofrecidos -->
        <h2 class="mt-5 mb-3">Sports offered:</h2>
        <div class="row">
            {% for sport in sports_offered %}
                <div class="col-md-4 mb-4">
                    <div class="card text-dark">
                        <!-- Mostrar la imagen del usuario si está disponible, de lo contrario, mostrar una imagen por defecto -->
                        {% if sport.image %}
                            <img src="{{ sport.image.url }}" class="card-img-top" alt="{{ sport.name }}">
                        {% else %}
                            <img src="{% static 'img/sports.png' %}" class="card-img-top" alt="{{ sport.name }}">
                        {% endif %}
                        <!-- Resto del contenido del card -->
                        <div class="card-body">
                            <h5 class="card-title">{{ sport.name }}</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            <a href="#" class="btn btn-primary btn-sm">Learn More</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <!-- Mostrar la lista de competiciones activas -->
        <h2 class="mt-5 mb-3">Active competitions:</h2>
        <ul class="list-group">
            {% for competition in active_competitions %}
                <li class="list-group-item">{{ competition.name }}</li>
            {% endfor %}
        </ul>

        <!-- Mostrar la lista de competiciones próximas -->
        <h2 class="mt-5 mb-3">Upcoming competitions:</h2>
        <ul class="list-group">
            {% for competition in upcoming_competitions %}
                <li class="list-group-item">{{ competition.name }}</li>
            {% endfor %}
        </ul>
    </div>


    </body>



{% endblock %}
```
