{% extends 'base.html' %}
{% block content %}

    <h2>{{ season.name }}</h2>

    <div class="container">
        <div class="row mt-5">
            <div class="col">
                <p>Partido y Grupos</p>
            </div>
            <div class="col-md-2 d-flex">
                <div class="btn-group">
                    <button type="button" class="btn btn-light dropdown-toggle" data-bs-toggle="dropdown"
                            aria-expanded="false">
                        Administrar Partidos
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li>
                            <a class="dropdown-item" href="{% url 'generate_time' competition.id season.id %}">Calendario
                                Automatico</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="">Exportar Equipos</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <main class="mt-5">
                <h3>Equipos</h3>

                <div class="d-flex justify-content-end">
                    <form class="d-none d-sm-inline-block form-inline mr-2 mr-md-3 my-2 my-md-0 mw-100">
                        <div class="input-group">
                            <label class="sr-only" for="search">Search:</label>
                            <input type="text" class="form-control bg-light border-0 rounded-pill py-2 px-3"
                                   name="search"
                                   id="search-table" aria-label="Search" aria-describedby="basic-addon2"
                                   onkeyup="searchTableTeam()">
                        </div>
                    </form>
                </div>

                <table class="table table-hover table-responsive" id="team_table">
                    <thead class="table-light">
                    <tr>
                        <th scope="col">Estado</th>
                        <th scope="col">Equipo 1</th>
                        <th scope="col">Resultado</th>
                        <th scope="col">Equipo 2</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Hora</th>
                        <th scope="col">Ronda</th>
                        <th scope="col">Lugar</th>
                        <th scope="col">Albitro</th>
                    </tr>
                    </thead>
                    <tbody class="table-group-divider">

                    {% for game in games %}
                        <tr>
                            <td>{{ game.state }}</td>
                            <td>{{ game.team_local.name }}</td>
                            <td>Resultado</td>
                            <td>{{ game.team_visitor.name }}</td>
                            <td>{{ game.date }}</td>
                            <td>{{ game.hour }}</td>
                            <td>{{ game.phase }}</td>
                            <td>{{ game.location.name }}</td>
                            <td>Árbitro</td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>

                <div id="no-results-message" style="display: none; margin-top: 10px;">
                    No se encontraron registros coincidentes.
                </div>

            </main>
        </div>
    </div>


{% endblock %}
