{% block content %}

    {% load static %}

    <nav class="nav mt-5">
        <a class="nav-link active" aria-current="page" style="font-weight: bold;  font-size: 1.2rem; color: #2d2a2a"
           href="{% url 'match_season' competition.id season.id %}">Partidos</a>
        <a class="nav-link active" aria-current="page" style="font-weight: bold;  font-size: 1.2rem; color: #2d2a2a"
           href="#">Tabla de Clasificaciones</a>
    </nav>

    <hr>



    <div class="container mt-3 mb-4">
        <div class="row">
            <div class="col">
                <div>
                    <form action="{% url 'sortear_grupos' competition.id season.id %}" method="post">
                        {% csrf_token %}
                        <button class="btn text-light" type="submit" style="background-color: #12538a">Sortear Grupos
                        </button>
                    </form>
                </div>
            </div>
            <div class="col-md-2 d-flex">
                <a class="btn btn-danger" href="{% url 'delete_season' competition.id season.id %}">Eliminar
                    Temporada</a>
            </div>
        </div>
    </div>

    <h2>Equipos</h2>
    <div class="container mt-5">
        <div class="row">
            {% for team in teams %}
                <div class="col-md-2 mb-4">
                    <div class="card text-dark team-card" data-team-id="{{ team.id }}">
                        <div class="card-body text-center">
                            <p class="card-title">{{ team.name }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <h2>Grupos</h2>
    <div class="container">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for group in groups %}
                <div class="col">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title">{{ group.letter }}</h5>
                            <div class="card">
                                <ul class="list-group list-group-flush">
                                    {% for team in group.teams.all %}
                                        <li class="list-group-item">{{ team.name }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
