{% extends 'base.html' %}

{% block content %}
    <body class="bg-secondary">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-xl-10 col-lg-12 col-md-9">
                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
                                    </div>
                                    <form method="POST" class="form-group mx-auto mt-2 ">
                                        {% csrf_token %}
                                        {{ error }}<br><br>
                                        <div class="mb-4">
                                            <input type="text" style="height: 45px;"
                                                   class="form-control border-$gray-900 rounded-pill" name="username"
                                                   id="username" placeholder="Username">
                                        </div>
                                        <div class="mb-3">
                                            <input type="password" style="height: 45px;"
                                                   class="form-control border-$gray-600 rounded-pill" name="password"
                                                   id="password" placeholder="Password">
                                        </div>
                                        <div class="text-center">
                                            <button type="submit" class="btn btn-primary rounded-pill btn-lg w-100"
                                                    style="height: 45px; background: #205D9E; font-size: math;">Login
                                            </button>
                                        </div>
                                    </form>
                                    <hr>
                                    <div class="text-center">
                                        <a class="small" style="text-decoration: none" href="forgot-password.html">Forgot
                                            Password?</a>
                                    </div>
                                    <div class="text-center">
                                        <a class="small" style="text-decoration: none" href="{% url 'signup' %}">Create
                                            an Account!</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </body>
{% endblock %}
```