{% extends 'base.html' %}
{% block content %}

    <head>
        <title>Tabla de Posiciones</title>
    </head>

    <main>
        <h1>Tabla de Posiciones</h1>

        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">Equipo</th>
                <th scope="col">Partidos Ganados</th>
                <th scope="col">Partidos Empatados</th>
                <th scope="col">Partidos Perdidos</th>
                <th scope="col" colspan="2">Puntos</th>
            </tr>
            </thead>
            <tbody class="table-group-divider">
            {% for team, stats in standings %}
                <tr style="cursor: pointer" onclick="window.location='{% url 'teams_detail' team.id %}'">
                    <td>{{ team.name }}</td>
                    <td>{{ stats.wins }}</td>
                    <td>{{ stats.draws }}</td>
                    <td>{{ stats.losses }}</td>
                    <td colspan="2">{{ stats.points }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </main>

{% endblock %}
```